---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">
<body onload="initiallyHide()">
  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>

     <center>   <button class="button" onclick="clickedConfirm()" id="myButton">Click now and again to hear Herbert</button></center>

  {% endif %}

  <div class="post-content e-content" itemprop="articleBody" id="myPost" >
    {{ content }}
  </div>
  
    <div class="post-content e-content" itemprop="articleBody" id="audio" >
        <audio controls style="margin: 0 auto; display: block;" id="audioPlayer">
            <source src="/assets/audio/placeholder.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
  </div>
  
  <div class="post-meta" id="postMeta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>
    
  </body>
<script>
function initiallyHide() {
  document.getElementById("audio").style.display = "none";
  document.getElementById("postMeta").style.display = "none";
  document.getElementById("Thanks").style.display = "none";

}
function clickedConfirm() {
  document.getElementById("audio").style.display = "block";
  document.getElementById("postMeta").style.display = "block";
  document.getElementById("myButton").style.display = "none";
  playRandomMP3()
}

function playRandomMP3() {

  // Get a random index for an audio file
  const randomIndex = Math.floor(Math.random() * 84);
  
  // Get the audio element
  const audioPlayer = document.getElementById('audioPlayer');
  
  // Set the source of the audio element to the random .mp3 file
  audioPlayer.src = '/assets/tts_for_yellow_website/audio' + str(randomIndex) +  '.mp3';
  
  // Play the audio
  audioPlayer.play();
}

  </script>
</article>


