---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">
<body onload="initiallyHide()">
  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>

     <center>   <button class="button" onclick="clickedConfirm()" id="myButton">Click to hear Herbert<br>(feel free to pause)</button></center>

  {% endif %}

  <div class="post-content e-content" itemprop="articleBody" id="myPost" >
    {{ content }}
  </div>
  
    <div class="post-content e-content" itemprop="articleBody" id="audio" >
        <audio controls loop style="margin: 0 auto; display: block;" id="audioPlayer">
          </audio>
  </div>
  
    
  </body>
<script>
function initiallyHide() {
  document.getElementById("audio").style.display = "none";
}
function clickedConfirm() {
  document.getElementById("myButton").style.display = "none";
  document.getElementById("audio").style.display = "block";

  // Get a random index for an audio file
  const randomIndex = Math.floor(Math.random() * 100);
  
  // Get the audio element
  const audioPlayer = document.getElementById('audioPlayer');
  
  // Set the source of the audio element to the random .mp3 file
  audioPlayer.src = '/assets/tts_for_yellow_website/audio_outputs/audio' + (randomIndex).toString() +  '.mp3';
  
  // Play the audio
  audioPlayer.play();
}

  </script>
</article>


