---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">
<body onload="initiallyHide()">
  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>
     <center>   <button "post-content e-content" onclick="clickedConfirm()" id="myButton">Click to confirm you will contemplate for five minutes</button></center>

  {% endif %}

  <div class="post-content e-content" itemprop="articleBody" id="myPost" >
    {{ content }}
  </div>
  
    <div class="post-content e-content" itemprop="articleBody" id="Thanks" >
    It has been five minutes. Thank you ever so bever so much.
  </div>
  
  <div class="post-meta" id="postMeta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>
    
  </body>
<script>
function initiallyHide() {
  document.getElementById("myPost").style.display = "none";
  document.getElementById("postMeta").style.display = "none";
  document.getElementById("Thanks").style.display = "none";

}
function clickedConfirm() {
  document.getElementById("myPost").style.display = "block";
  document.getElementById("postMeta").style.display = "block";
  document.getElementById("myButton").style.display = "none";
  setTimeout(function(){ document.getElementById("Thanks").style.display = "block"; 
                        document.getElementById("myPost").style.display = "none"; 
                        }, 300000)
}
  </script>
</article>


